:root {
    --bgc: #00030C;
    --ftc-ttl: #FFFFFF;
    --ftc-txt: #C0C0C0;
    --btn-bgc: #167BF7;
    --ftfml: 'Inter';
    --ftsz-ttl: 3em;
    --ftsz-txt: 1em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bgc);
    color: var(--ftc-ttl);
    font-family: var(--ftfml);
}

.principal {
    background-image: url(Background.png);
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.caixa {
    margin: 0 6em;
    gap: 10px;
}

.container-titulo {
    font-size: 28px;
    font-family: var(--ftfml);
}

.container-imagem {
    margin: 2em 0 3em 0;
}

.container-botao {
    font-size: var(--ftsz-txt);
    font-family: var(--ftsz-txt);
    color: var(--ftc-ttl);
    background-color: var(--btn-bgc);
    text-decoration: none;
    padding: 1em 0;
    border-radius: 0.5em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid white;
}

.aviso {
    color: var(--ftc-txt);
}

a {
    text-align: center;
}

div {
    align-items: center;
    text-align: center;
    justify-content: center;
}